
@import url(https://fonts.googleapis.com/css?family=Nunito:400,400i,600,700&amp;display=swap);

html {
    font-size: 100%;
    /* overflow-y: scroll !important; */
    } 
  
  body {
    background-attachment: fixed;
    background-color: #ffffff;
    color: #777777;
    font-family: 'Nunito', sans-serif !important;
    font-size: 16px;
    line-height: 1.642;
    overflow-x: hidden;
    /* transition: inherit; */
    /* -webkit-font-smoothing: antialiased;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease; */
  }
  body.body_overlay{
    position: fixed;
    transform: translate(0, 0);
    width: 100%;
  }
  body.body_overlay:before{
    background-color: rgba(0,108,112,.5);
    bottom: 0;
    content:"";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
    transform: translate(360px, 0);
  }
  h5 {
    margin-bottom: 0 !important;
  }
  img {
    max-width: 100%;}
  
  p {
    font-size: 14px;
    color: #484848;
    font-weight: 400;}
  
  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0; }
  
  iframe {
    border: none;
    width: 100%; }
  
  a {
    color: #555555;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;}
    a:hover, a:focus {
      color: #333333;
      text-decoration: none;
      outline: none;}
    a img {
      border: none;}
  .form-control{
    height: 50px;
  }
  .form-control:active,
  .form-control:focus{
    box-shadow: none;
    outline: none;
  }
  
  iframe {
    border: none; }
  
  ::selection {
    background: #222222;
    color: #ffffff;
    text-shadow: none; }
  
  ::-moz-selection {
    /* Firefox */
    background: #222222;
    color: #ffffff;
    text-shadow: none; }
  
  ::-webkit-selection {
    /* Safari */
    background: #222222;
    color: #ffffff;
    text-shadow: none; }
  
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Nunito', sans-serif;
    line-height: 1.2;
    color: #484848; }
    h1 small,
    h1 .small, h2 small,
    h2 .small, h3 small,
    h3 .small, h4 small,
    h4 .small, h5 small,
    h5 .small, h6 small,
    h6 .small,
    .h1 small,
    .h1 .small, .h2 small,
    .h2 .small, .h3 small,
    .h3 .small, .h4 small,
    .h4 .small, .h5 small,
    .h5 .small, .h6 small,
    .h6 .small {
      font-weight: normal;
      line-height: 1;
      color: #484848;
      font-weight: 400; }
    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
    .h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a {
      color: #484848;
      font-weight: 400; }
  
  h1, h2, h3, h4
  .h1, .h2, .h3, .h4 {
    font-weight: bold; }
  
  h5, h6,
  .h5, .h6 {
    font-weight: bold;}
  
  h1, .h1 {
    font-size: 36px; }
  
  h2, .h2 {
    font-size: 30px; }
  
  h3, .h3 {
    font-size: 24px; }
  
  h4, .h4 {
    font-size: 18px; }
  
  h5, .h5 {
    font-size: 15px; }
  
  h6, .h6 {
    font-size: 12px; }
  p,
  ul,
  ol,
  dl,
  dt,
  dd,
  blockquote,
  address {
    margin: 0 0 10px; }


	.gallery_item{
		margin-bottom: 30px;
		position: relative;
    text-decoration: none !important;
	}
	.gallery_item .gallery_overlay{
		background-color: green;
		border-radius: 5px;
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-o-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
		-webkit-transition: all 0.3s ease 0s;
		-moz-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
	}
	.gallery_item:hover .gallery_overlay{
		-webkit-transform: scale(1.0);
		-moz-transform: scale(1.0);
		-o-transform: scale(1.0);
		-ms-transform: scale(1.0);
		transform: scale(1.0);
	}
	.gallery_item .gallery_overlay .icon{
	    bottom: 0;
	    left: 0;
		position: absolute;
	    right: 0;
	    top: 35%;
	    text-align: center;
	}
	.gallery_item .gallery_overlay .icon span{
		color: #ffffff;
		font-size: 50px;
	}
